body{
    text-align: center;
    margin: 50px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

caption{
    caption-side: top;
    text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

th{
    font-size: x-large;
    padding: 5px;
    background-color: rgb(173, 198, 204);
    border-left: none;
    border-right: none;
}

td{
    font-size: larger;
    padding: 5px;
    border-left: none;
    border-right: none;
}

tfoot td{
    font-size: xx-large;
    text-align: right;
}

a{
    color: blue;
}